/Assets/Universal Sound FX
.vsconfig
*.ide
*.ide-shm
.vs/gamejam2022/v15/.suo
.vs/gamejam2022/v15/Server/sqlite3/db.lock
.vs/gamejam2022/v15/Server/sqlite3/storage.ide-wal
/obj
/Logs
/Library
/Temp
Assembly-CSharp.csproj
gamejam2022.sln
UserSettings/EditorUserSettings.asset
GameJam2022/
Assembly-CSharp-Editor.csproj
*.csproj

Assets/Universal Sound FX.meta
*.gz
WebGL build/Build/WebGL build.data.gz
WebGL build/Build/WebGL build.framework.js.gz
WebGL build/Build/WebGL build.loader.js
WebGL build/Build/WebGL build.wasm.gz
WebGL build/index.html
